<div class="container">

  <br />

  <h5>Buscador de CIE11</h5>

  <%= form_tag interaction_show_path do %>

    <div class="form-group">

      <!-- Pase el token de autenticación a la consulta -->
      <%= label_tag 'Investigación', 'Buscar por nombre', placeholder: 'Ejemplo: tubercolosis' %>
      <%= text_field_tag 'Buscar', '', class: 'form-control' %>

      <small id="hint" class="form-text text-muted">Ejemplo: tuberculosis</small>
      <br />

      <% if flash[:notice] != nil %>
        <div class="alert alert-danger" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= submit_tag 'Buscar', class:'btn btn-primary' %>

    </div>

  <% end %>

</div>

